.burger__controller {
  height: 25%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.burger__controller button {
  font-family: "Poor Story";
  cursor: pointer;
  border: none;
  border-radius: 5px;
  padding: 0.3rem;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.26);
}

.burger__controller form {
  display: inline;
}

.ingredient-input__delete-button {
  margin-right: 10px;
  background-color: var(--main-warning);
}
.ingredient-input__submit-button {
  margin-left: 10px;
  background-color: var(--main-success);
}

.burger__controller-buttons {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

.burger__controller-buttons button:not(:last-child) {
  margin-right: 15px;
}
