.user__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.user__info div:not(:last-child) {
  margin-bottom: 30px;
}

.user__image i {
  font-size: 3rem;
}
