.my__burger {
  position: relative;
  width: 80%;
  background-color: #f2edeb;
  text-align: center;
  cursor: pointer;
  transition: all 0.1s linear;
}

.my__burger:hover {
  transform: translate(-1px, -1px);
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.4);
}

.my__burger .loading__dots {
  margin: 50px auto 20px;
}

.burger__emoji {
  margin-top: 0;
}

.my__burger-name {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
}

.my__burger-name > *:not(:last-child) {
  margin-right: 10px;
}
