.ingredient h2 {
  font-weight: bold;
}

.lid-bun h2 {
  color: #e9a859;
}

.cheese h2 {
  color: #f9d11a;
}

.lettuce h2 {
  color: #94b024;
}

.pickle h2 {
  color: #125f0e;
}

.onion h2 {
  color: #eff0d8;
}

.tomato h2 {
  color: #da2e18;
}

.spicy-sauce h2 {
  color: #9a210f;
}

.bicmac-sauce h2 {
  color: #e3b675;
}

.teriyaki-sauce h2 {
  color: #37201b;
}

.ketchup-sauce h2 {
  color: #b51915;
}

.mayo-sauce h2 {
  color: #f6e6ba;
}

.hamburg-patty h2 {
  color: #a15028;
}

.pork-patty h2 {
  color: #bfab95;
}

.beef-patty h2 {
  color: #965e40;
}

.shrimp-patty h2 {
  color: #f0a951;
}

.chicken-patty h2 {
  color: #f7b946;
}

.vegetable-patty h2 {
  color: #673827;
}

.extra-bread h2 {
  color: #e89e44;
}

.hash-brown h2 {
  color: #f7d49c;
}

.bottom-bun h2 {
  color: #e68230;
}
