.auth-controller__wrapper > *:not(:last-child) {
  margin-bottom: 20px;
}

.auth-controller__wrapper form {
  display: flex;
}

.auth__input-group {
  margin-right: 20px;
}

.auth__input-group input {
  display: block;
}

.auth__input-group input:not(:last-child) {
  margin-bottom: 15px;
}

.login__button {
  background-color: var(--main-success);
}

.auth__control a:not(:last-child) {
  margin-right: 15px;
}
