.burger__text {
  width: 100%;
  height: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: auto;
  font-family: "Poor Story";
}
.burger__text div {
  width: 50%;
  margin: auto;
  text-align: center;
}

.in__my-burger {
  width: 100%;
  height: 100%;
  scrollbar-width: none;
}
