nav {
  background-color: var(--main-yellow);
  display: grid;
  align-items: center;
  grid-template-rows: 1;
  grid-template-columns: 0.8fr 3fr 2fr;
  height: 50px;
  font-family: "Poor Story";
}

.doorknob {
  font-size: 1.16rem;
  font-weight: bold;
  text-indent: 1.5rem;
}

nav li {
  opacity: 0.5;
  transition: opacity 0.1s;
}

nav li:hover {
  opacity: 1;
}

.menus ul {
  display: flex;
}

.menus ul li:not(:last-child) {
  margin-right: 15px;
}

.user__navs {
  justify-self: flex-end;
}

.user__navs ul {
  display: flex;
}

.user__navs ul li:not(:last-child) {
  margin-right: 15px;
}

.user__navs ul li:last-child {
  margin-right: 30px;
}

.user-name__display {
  display: flex;
  align-items: center;
}

.user-name__display img {
  width: 20px;
  height: 20px;
}

.logout__btn {
  display: block;
  width: 100%;
  height: 100%;
  border: none;
  background: none;
  cursor: pointer;
  font-family: "Poor Story";
  font-size: 1rem;
}
