.burger__modal-wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.burger__modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 500;
}

.burger__modal-inside {
  display: flex;
  justify-content: center;
  align-items: center;
}

.burger__modal-inside-base-card {
  width: 400px;
  height: 250px;
  min-width: 350px;
  min-height: 180px;
  background-color: #feca57;
  transition: height 0.3s ease;
  display: flex;
  justify-content: center;
}

.my__burger-base-card {
  background-color: var(--main-white);
  cursor: pointer;
}

.my-burger__modal-text {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
}

.burger__modal-text {
  display: grid;
  width: 250px;
  height: 250px;
  align-content: center;
  justify-items: center;
  align-items: center;
  grid-template-rows: 0.5fr 1fr 0.2fr 0.5fr;
  font-family: "Poor Story";
  z-index: 1000;
}

.burger__modal-backdrop {
  width: 100%;
  height: 100vh;
  position: absolute;
  z-index: 100;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.8);
}

.burger__modal-close-button {
  position: absolute;
  top: 3px;
  right: 10px;
  display: block;
  background: none;
  border: none;
  font-size: 2rem;
  color: rgba(255, 255, 255, 0.5);
  box-shadow: none;
  cursor: pointer;
  transition: color 0.3s;
  z-index: 200;
}

.burger__modal-close-button:hover {
  color: rgba(255, 255, 255, 1);
}

.modal-expension-btn {
  outline: none;
  background: none;
  border: none;
  color: rgba(0, 0, 0, 0.5);
  transition: color 0.3s;
  cursor: pointer;
}
.modal-expension-btn:hover {
  color: rgba(0, 0, 0, 1);
  animation: upAndDown 1.5s ease infinite;
}

@keyframes upAndDown {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(2px);
  }
}

.burger__modal-child-base-card {
  margin-top: 50px;
  width: 100%;
  height: 80%;
  background-color: #fff;
}

.burger__modal-child-base-card a {
  text-decoration: none;
  color: black;
  display: block;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  background-repeat: no-repeat;
  background-position: right 6% bottom 0;
  background-size: 25%;
}

.burger__modal-child-base-card span {
  padding-left: 18%;
}
