@import url("https://fonts.googleapis.com/css2?family=Poor+Story&display=swap");

@import url("../node_modules/@fortawesome/fontawesome-free/css/all.css");

:root {
  --main-dark: #263238;
  --main-yellow: #fabc2a;
  --main-white: #f2edeb;
  --main-warning: #f05365;
  --main-success: #8ea604;
}

html {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: unset;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#App {
  position: relative;
}

.fontawesome__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
}

main {
  width: 100%;
  height: 100vh;
  background-color: var(--main-white);
}

main > div {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
