@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poor+Story&display=swap");

@import url("../node_modules/@fortawesome/fontawesome-free/css/all.css");

:root {
  --main-dark: #263238;
  --main-yellow: #fabc2a;
  --main-white: #f2edeb;
  --main-warning: #f05365;
  --main-success: #8ea604;
  --main-blue: #3a86ff;
}

html {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: unset;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#App {
  position: relative;
}

.fontawesome__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
}

main {
  width: 100%;
  height: 100vh;
  background-color: var(--main-white);
}

main > div:not(.find-hamburger__home) {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

button {
  font-family: "Poor Story";
  cursor: pointer;
  border: none;
  border-radius: 5px;
  padding: 0.3rem;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.26);
  transition: all 0.1s;
}

button:hover:not(.ingredient__add-button, .ingredient__remove-button, .burger__modal-close-button, .modal-expension-btn, .burger-save__button, .logout__btn) {
  transform: translate(-1px, -1px);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.26);
}

button:disabled:hover {
  transform: translate(0, 0);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.26);
}

.go-to-maker button {
  padding: 0.7rem;
  font-size: 1rem;
  display: flex;
  align-items: center;
}

.go-to-maker button i {
  margin-left: 5px;
}
